{% extends 'base.html' %}

{% block content %}
    <h1>Bem-vindo, {{ nome }}!</h1>
    <div class="d-flex justify-content-end mb-2">
        <form action="{{ url_for('auth.logout') }}" method="POST">
            <button type="submit" class="btn btn-outline-danger btn-sm">Sair</button>
        </form>
    </div>
    <nav>
        <a href="{{ url_for('usuario.dashboard') }}">Dashboard</a> |
        <a href="{{ url_for('home.listar_livros') }}">Ver Livros</a> |
        <a href="{{ url_for('home.emprestimos_usuario') }}">Meus Empréstimos</a> |
        <a href="{{ url_for('auth.logout') }}">Sair</a>
    </nav>

    <h2>Opções disponíveis</h2>
    <ul>
        <li><a href="{{ url_for('home.listar_livros') }}">Reservar um livro</a></li>
        <li><a href="{{ url_for('home.emprestimos_usuario') }}">Ver meus empréstimos</a></li>
    </ul>
{% endblock %}
